:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #3b3b3b;
  background-color: aliceblue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// @import 'variables'; @import 'mixins';

/* SITE RESETS */
html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#root {
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  flex: 1;
}

a {
  font-weight: 500;
  color: #00d8ff;
  text-decoration: inherit;
}
a:hover {
  color: #00d8ff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 42px;
  color:#3b3b3b;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color:#3b3b3b;
}

/* GLOBAL CUSTOM STYLES */
header {
  padding: 0 3%;
  background-color: #3b3b3b;
}

header .brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand img {
  height: 60px;
  padding: 20px;
}

header nav a {
  justify-content: space-betw;
  padding-left: 25px;
  /* color: #7ed957; */
  color: aliceblue;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

header nav a:hover {
  color: #00d8ff;
}

header nav a.active {
  color: #00d8ff;
}

header nav button {
  margin-left: 20px;
}

/* HERO SECTION (Custom Styles) */
section.hero {
  background-image: url("/Hero-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-section {
  padding: 0 200px;
  overflow: auto;
}

.title-section h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: aliceblue;
  text-shadow: #213547 2px 0 10px;
}

#hero-button {
  color: #3b3b3b;
}


/* ABOUT ME PAGE STYLES */
#about {
  padding: 50px 0 100px;
}

#logo-image {
  width: 100px;
}

#about p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px 50px;
  text-align: left;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #00d8ff;
  color: #00d8ff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* CONTACT ME PAGE STYLES */
#contact-me {
  padding: 50px 0 100px;
  justify-content: center;
}

#contact-me h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #213547;
}

#form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-me form {
  width: 450px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 1em;
  border: 1px solid #213547;
  border-radius: 1em;
}

#contact-me form > * {
  padding: 5px 10px;
  margin-bottom: 8px;
}

.auth-toggle-wrap {
  display: flex;
  align-items: center;
}

form .toggle-bar {
  width: 75px;
  height: 28px;
  border-radius: 30px;
  background:#1a1a1a;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
}

form .toggle-switch {
  position: absolute;
  content: '';
  top: 2px;
  left: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #00d8ff;
  transition: left .3s;
}

form .toggle-switch.toggle {
  left: 47px;

}

#contact-me form .button {
  padding-top: 20px;
}

#contact-me form label {
  text-align: left;
}

#contact-me form input, textarea {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #213547;
  background-color: beige;
}

#contact-me input, select, textarea{
  color: #213547;
}

#contact-me textarea:focus, input:focus {
  color: #213547;
}

/* FOOTER STYLES */
footer {
  background-color: #3b3b3b;
  color: aliceblue;
}

footer .brand {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a .footer-logo-item {
  height: 30px;
}

// NAVBAR

$primary-color: #977cef;
$text-color: #fff;
$hover-color: #66d88b;
$breakpoint: 768px;

.navbar-header {
  background-color: $primary-color;
  padding: 1rem;

  .brand {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-link {
      display: flex;
      align-items: center;
    }

    .logo {
      width: 50px;
      height: 50px;
    }

    .navbar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: max-height 0.3s ease;
      overflow: hidden;

      .nav-link {
        color: $text-color;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $hover-color;
          border-radius: 5px;
        }
      }

      .nav-button {
        background-color: transparent;
        border: none;
        color: $text-color;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $hover-color;
          border-radius: 5px;
        }
      }
    }

    .hamburger {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 30px;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;

      .hamburger-line {
        width: 100%;
        height: 3px;
        background-color: $text-color;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: $breakpoint) {
  .brand {
    flex-direction: column;
    align-items: flex-start;

    .navbar {
      flex-direction: column;
      align-items: flex-start;
      max-height: 0;
      overflow: hidden;
      width: 100%;

      .nav-link,
      .nav-button {
        width: 100%;
        text-align: left;
        padding: 1rem;
        margin: 0;
      }
    }

    .hamburger {
      display: flex;
    }

    .navbar.open {
      max-height: 300px; // Adjust as needed for content
    }
  }
}


// DASHBOARD STYLES


.dashboard {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
}

.dash-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.left-column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 50%;
}

.user-info {
  margin-bottom: 10px;
  background-color: #5ad983;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

.categories-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.categories-item {
background-color: #5ad983;
padding: 20px;
border-radius: 10px;
width: 100%;

&:hover {
  background-color: rgb(90, 90, 90);
  color: white;
}
}

.categories-table a {
  margin-bottom: 10px;
  color: black;
}

.carousel-container {
  flex: 1;
  max-width: 100%; /* Adjust as needed */
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .dash-container {
    flex-direction: column;
    align-items: center;
  }

  .left-column, .carousel-container {
    max-width: 60%;
    margin-right: 0;
  }
}

// Carousel 

.image-slider-container {
  padding: 5%;
  width: 80%;
  align-items: center;

  img {
  width: 70%; 
  height: auto;
  display: block; 
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  }
}

.image-slider-container .slick-prev:before,
.image-slider-container .slick-next:before {
  color: black;
}


